section {
  margin-top: 50px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}
